.App{
  padding: 20px;
}
.App-header{
  padding-left: 50px;
  display: flex;
  border-bottom: 3px solid #dc1010;
  align-content: center;
}
.App-header h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #dc1010;
}
.App-logo{
  width: 100px;
  height: auto;
}
.App-body{
  padding: 50px;
  border-bottom: 3px solid #dc1010;
  height: 50vh;

  
}
.App-footer{
  text-align: center;

}