.Notifications {
    margin-top: 30px;
    margin-bottom: 20px;
    border: 2px dashed #dc1010;
    padding: 20px;
}

.default {
    color: blue;
}

.urgent {
    color: red;
}

.menuItem {
    position: absolute;
    top: 0;
    right:0;
    padding-top: 10px;
    padding-right: 30px;
    /* Adjust padding as needed */
    color: black;
    cursor: pointer;
    border-radius: 5px;
}